.app {
  .scene {
    .loyal rect {
      fill: #2b954d;
    }
    .switcher rect {
      fill: #3bc366;
    }
    .prospect rect {
      fill: #fbda68;
    }
    .winback rect {
      fill: #fad029;
    }
    .lapsed rect {
      fill: #f8a874;
    }
    .rejector rect {
      fill: #f89ea4;
    }
    .unaware rect {
      fill: #42beff;
    }
  }

  .main-scale {
    color: #b9b9b9;
  }

  .percent-xaxis line {
    display: none;
  }

  .percent-xaxis text {
    transform: translate(0, -20px);
    font-weight: bold;
  }

  .percent-xaxis__non-customers {
    color: rgb(148, 148, 148);
  }

  .percent-xaxis__customers {
    color: #408c52;
  }
}
